<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.caraliu.mybatis.mapper.user.MngUserMapper">

    <resultMap id="BaseResultMap" type="MngUserEntity">
        <result property="pk" column="pk"/>
        <result property="account" column="account"/>
        <result property="password" column="password"/>
        <result property="mobileNumber" column="mobile_number"/>
        <result property="type" column="type"/>
        <result property="nickName" column="nick_name"/>
        <result property="status" column="status"/>
        <result property="createdAt" column="created_at"/>
    </resultMap>


    <select id="findAll" resultMap="BaseResultMap">
        SELECT * FROM `mng_user` WHERE `status` = 1
    </select>

    <select id="findMngUsers" resultMap="BaseResultMap">
        SELECT * FROM `mng_user` mu WHERE mu.status = 1
        <if test="mngUserSearchReqDto !=  null">
            <if test="mngUserSearchReqDto.nickName != null and mngUserSearchReqDto.nickName != ''">
                and mu.nick_name like CONCAT('%',#{mngUserSearchReqDto.nickName},'%')
            </if>

            <if test="mngUserSearchReqDto.mobileNumber != null and mngUserSearchReqDto.mobileNumber != ''">
                and mu.mob ile_number like CONCAT('%',#{mngUserSearchReqDto.mobileNumber},'%')
            </if>

            <if test="mngUserSearchReqDto.type != null">
                and mu.type = #{mngUserSearchReqDto.type}
            </if>
        </if>
    </select>

    <select id="findOne" resultMap="BaseResultMap">
        SELECT * FROM `mng_user` mu WHERE mu.pk = #{pk} and mu.status = 1
    </select>

    <select id="findByAccount" resultMap="BaseResultMap">
        SELECT * FROM `mng_user` mu WHERE mu.account = #{account}
    </select>

    <update id="update">
        update `mng_user` mu set mu.nick_name= #{mngUserEntity.nickName}, mu.type = #{mngUserEntity.type}
        <if test="mngUserEntity != null and mngUserEntity.mobileNumber != null and mngUserEntity.mobileNumber != ''">
            , mu.mobile_number = #{mngUserEntity.mobileNumber}
        </if>
        where mu.pk = #{mngUserEntity.pk}
    </update>

    <insert id="insert" parameterType="MngUserEntity" useGeneratedKeys="true" keyProperty="pk">
       insert into `mng_user`(nick_name,account,password,`type`,salt) values (#{nickName},#{account},#{password},#{type},#{salt})
    </insert>

    <insert id="batchInsert" parameterType="MngUserEntity">
        insert into `mng_user`(user_nick,account,password,`type`) values
        <foreach collection="mngUserEntities" item="item" index="index" separator=",">
            (#{item.nickName}, #{item.account}, #{item.password},#{item.type})
        </foreach>
    </insert>

    <update id="delete">
        update `mng_user` mu set mu.`status` = 0 WHERE pk = #{pk};
    </update>

    <select id="findPermissionByUserPk" parameterType="long" resultType="MngPermissionEntity">
        select mp.pk,mp.name,mp.parent_pk as parentPk from  mng_user_role mur
          left join mng_role_permission mrp on mrp.status = 1 and mur.role_pk = mrp.role_pk
            left join mng_permission mp
               on mp.status = 1 and mp.pk= mrp.permission_pk where mur.user_pk = #{userPk}
    </select>

    <select id="findRoleByUserPk" parameterType="long" resultType="MngRoleEntity">
        select mr.pk,mr.name,mur.created_at as createdAt from mng_user_role mur
         left join mng_role mr on mr.pk = mur.role_pk where mur.status = 1 and mr.status = 1 and mur.user_pk = #{userPk}
    </select>

    <update id="updateUserRole">
        update `mng_user_role` mur set mur.role_pk = #{rolePk} where mur.user_pk = #{userPk}
    </update>

    <update id="deleteUserRole">
        update `mng_user_role` mur set mur.status = 0 where mur.user_pk = #{userPk}
    </update>

    <insert id="insertUserRole">
        insert into `mng_user_role`(user_pk,role_pk) values (#{userPk},#{rolePk})
    </insert>
</mapper>